# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (uncomment if you want to ignore VS Code settings)
# .vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android build outputs
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/app/*.aab
/android/app/*.apk
/android/build/

# Obfuscation / symbol files
app.*.symbols
app.*.map.json

# Backup files
*.backup
*.bak

# Keystore files (if you want to keep your release key out of Git!)
android/app/*.jks
key.properties
